apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: ceph-bucket
provisioner: rook-ceph.ceph.rook.io/bucket
reclaimPolicy: Delete
volumeBindingMode: Immediate
parameters:
  objectStoreName: s3-store
  objectStoreNamespace: rook-ceph
---
apiVersion: ceph.rook.io/v1
kind: CephObjectStore
metadata:
  name: s3-store
spec:
  dataPool:
    replicated:
      size: 1
  gateway:
    instances: 1
    port: 80
    resources:
      limits:
        cpu: "2"
        memory: 2Gi
      requests:
        cpu: 100m
        memory: 1Gi
  metadataPool:
    replicated:
      size: 1
  preservePoolsOnDelete: false
